* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
.container {
  max-width: 1199px;
  margin: 0 auto;
}
button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 30px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
  line-height: 1.2;
  transition: all 0.5s;
}
/* HEADER */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
.header__content ul {
  list-style: none;
  display: flex;
  margin-right: 30px;
}
.header__content ul li {
  padding: 55px 15px;
}
.header__content ul a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #070120;
}
.header__content ul li i {
  font-size: 9px;
  vertical-align: middle;
  margin-top: -3px;
}
a span {
  display: inline-block;
  transition: all 1s;
}
.header__content ul li a:hover {
  color: #f55f8d;
}
a:hover span {
  animation: upToDown 0.3s;
}
.header__content .header__btn:hover {
  background-position: right center;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
/* END HEADER */

/* CAROUSEL */
.carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(./img/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__right {
  width: 40%;
}
.carousel__left {
  width: 60%;
}
.carousel__article ul {
  margin-bottom: 20px;
}
.carousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel__article li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
  list-style: none;
}
.carousel__article li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.carousel__content .article__btn:hover {
  background-position: right center;
}
.carousel__pic {
  width: 570px;
  margin-left: 50px;
}
.carousel__right img {
  max-width: 100%;
  display: block;
}

/* END CAROUSEL */

/* SERVICES */
.services {
  text-align: center;
  background-image: url(./img/bg2.png);
  background-size: cover;
  background-position: top center;
  padding-top: 115px;
  margin-bottom: 115px;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
  border-image: 100 round;
  border: 3px solid transparent;
}
.services__item:hover {
  transform: translateY(-25px);
  border-image: url(./img/br.png) 1 round;
}
.services__item img {
  width: 215px;
}
.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
/* END SERVICES */

/* ABOUT US  */

.AboutUs {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about__right {
  width: 50%;
}
.about__right p {
  margin-bottom: 15px;
}
.about__right ul {
  list-style: none;
  margin-bottom: 30px;
}
.about__right li i {
  color: #f55f8d;
  margin-right: 10px;
  font-size: 24px;
  vertical-align: middle;
}
.about__btn:hover {
  background-position: right center;
}

/* END ABOUT US  */

/* NUMBER */
.number {
  background-image: url(./img/bg14.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0 50px;
}
.number__content {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* END NUMBER */

/* ABOUT US  */
.features {
  background-image: url(./img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 115px;
}
.features__content {
  display: flex;
}
.features__right,
.features__left {
  width: 50%;
}
.features__item {
  padding: 0 50px 30px 0;
}
.features__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.features__bg {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  position: relative;
  overflow: hidden;
}
.features__bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.features__bg:hover::after {
  opacity: 1;
}
.features__bg:hover i,
.features__bg:hover div,
.features__bg:hover h3 {
  color: #fff;
}
.features__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.features__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.features__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.features__banner {
  margin-right: -80px;
}
.features__banner img {
  max-width: 100%;
  animation: move2 infinite 5s;
}
/* END ABOUT US  */

/* PORTFOLIO */
.portfolio {
  padding-top: 115px;
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item:hover::before {
  left: 125%;
}
.overlay__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
.overlay__title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__item:hover .overlay__title {
  transform: translateY(0);
}
.portfolio__item:hover .overlay__icon {
  transform: translate(0);
  cursor: pointer;
}
.portfolio__item.item1 {
  grid-column: 1 / span 2;
}
.portfolio__item.item5 {
  grid-column: 1 / span 2;
}
.portfolio__item.item6 {
  grid-row: 2 / span 2;
  grid-column: 3 / span 1;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.overlay__title h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}
.overlay__title p {
  color: #fff;
  opacity: 0.7;
}
/* END PORTFOLIO */
.sec1 {
  padding: 50px 0 0;
}
.sec1 .owl-carousel .item {
  height: 10rem;
  background: #4dc7a0;
  padding: 1rem;
}
/* BLOG  */
.blog {
  padding: 115px 0 50px 0;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
.blog__item {
  margin-right: 30px;
  width: 379.667px;
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.item__header {
  position: relative;
}
.item__header img {
  width: 100%;
  border-radius: 8px;
}
.item__header p {
  position: absolute;
  bottom: -20px;
  left: 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
}
.item__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.item__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.item__footer p:first-of-type {
  margin-right: 20px;
}
.item__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.item__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: middle;
}
.item__footer span.name {
  color: #f55f8d;
}
/* END BLOG  */

/* FOOTER  */
footer {
  background-image: url(./img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(./img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.form__top,
.title__top {
  width: 50%;
}
.title__top h2 {
  font-size: 28px;
  color: #262626;
}
.form__top input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}
.form__top input:focus,
.form__top input:hover {
  border-color: #f55f8d;
}
.form__top button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
}
.form__top form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__item {
  width: 25%;
}
.footer__item li {
  padding: 0.5rem 0;
  list-style: none;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}
.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item a:hover {
  color: white;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer__contact li {
  display: flex;
  padding: 0.5rem;
  padding-left: 0;
  align-items: center;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__left span {
  color: #f55f8d;
}
.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright a:hover {
  background-color: #f55f8d;
}
.backtotop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* END FOOTER  */
/* ANIMATE */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
